{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Post</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" />
        <style>
            :root {
                --site-color: {{ site_color }};
                /* Ajoutez d'autres variables CSS nécessaires ici */
            }
            /* Style pour les icônes "J'aime" */
            .like-icon {
                font-size: 30px; /* Taille de l'icône */
                color: palevioletred; /* Couleur de l'icône */
                transition: color 0.3s ease; /* Transition fluide pour le changement de couleur */
                cursor: pointer; /* Curseur indiquant que l'icône est cliquable */
                margin-right: 50px;
            }

            /* Style pour les icônes de partage */
            .share-icon {
                font-size: 30px; /* Taille de l'icône */
                color: dodgerblue; /* Couleur de l'icône */
                transition: color 0.3s ease; /* Transition fluide pour le changement de couleur */
                cursor: pointer; /* Curseur indiquant que l'icône est cliquable */
            }

            /* Style pour les icônes lorsqu'elles sont survolées */
            .like-icon:hover,
            .share-icon:hover {
                color: darkred; /* Nouvelle couleur lorsqu'elles sont survolées */
            }
            .popup {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff;
                padding: 20px;
                border: 1px solid #ccc;
                box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                z-index: 1000;
            }
            .share-buttons {
                margin-top: 10px;
            }
            .share-buttons button {
                margin-right: 10px;
            }

        </style>
    </head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--site-color);">
        <div class="container">
            <a class="navbar-brand" href="#!">{{ site_blog.title }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'view_site' domaine=domaine %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    {% if user_standard %}
                        <div class="circle-button" style="position: relative; background-color: black; color: white; display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 50%; margin-left: 10px; cursor: pointer;">
                            <span style="font-size: 18px;">{{ initials }}</span>
                        </div>               
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'signin_blog' domaine=domaine site_id=site_id %}">Signin</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        {% for category in post.categories.all %}
                            <h1 class="fw-bolder mb-1">{{ category.name }}</h1>
                        {% endfor %}
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ post.created_at }}</div>
                        <!-- Post categories-->
                        {% for tag in post.tags.all %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ tag.name }}</a>
                        {% endfor %}
                    </header>
                    <div class="container">
                        <figure class="mb-4"><img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}" style="object-fit: cover; width: 100%; height: 600px;"/></figure>
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5">{{ post.title }}</h2>
                            <p class="fs-5 mb-4">{{ post.content }}</p>
                        <section class="mb-5">
                    </div>
                    <!-- Ajouter les icônes de j'aime et de partage -->
                    {% if user_standard %}
                        <div class="row mb-4">
                            <div class="col">
                                <i class="mdi mdi-heart-outline like-icon" data-post-id="{{ post.id }}">J'aime</i>
                                <i class="mdi mdi-share-variant share-icon" data-site-id="{{ site_id }}" data-post-id="{{ post.id }}">Partager</i>
                            </div>
                        </div>
                        <div class="popup" id="sharePopup">
                            <p>Partager ce post :</p>
                            <p id="postLink"></p>
                            <div class="share-buttons">
                            <button id="copyLinkButton">Copier le lien</button>
                            <button onclick="shareOnFacebook()">Partager sur Facebook</button>
                            <!-- Ajoutez d'autres boutons pour d'autres réseaux sociaux si nécessaire -->
                            </div>
                        </div>
                    {% endif %}                                       
                </article>
                <!-- Comments section-->
                {% if user_standard %}
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4 position-relative" action="{% url 'submit_comment' domaine=domaine post_title=post.title site_id=site_id post_id=post.id %}" method="post">
                                    {% csrf_token %}
                                    <textarea class="form-control" name="comment_content" rows="10" placeholder="Join the discussion and leave a comment!"></textarea>
                                    <!-- Icône Telegram -->
                                    <button type="submit" class="bi bi-telegram position-absolute bottom-0 end-0 m-3 text-primary" style="font-size: 1.5rem; cursor: pointer;"></button>
                                </form>                                                                                                                                   
                                <!-- Afficher les commentaires -->
                                {% for comment in post.comment_blog_set.all %}
                                <div class="d-flex mb-4">
                                    <!-- Commentaire principal -->
                                    <div class="circle-button" style="position: relative; background-color: black; color: white; display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 50%; margin-left: 10px; cursor: pointer;">
                                        <span style="font-size: 18px;">{{ comment.author.initials }}</span>
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{ comment.author.username }}</div>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            {% endfor %}                        
                            </div>
                        </div>
                    </section>
                {% endif %}
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" id="search_term" placeholder="Title, Category or Tag" aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn" id="button-search" type="button" style="background-color: var(--site-color); color: #000;">Search</button>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            {% for category in categories %}
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">{{ category.name }}</a></li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">
                        {% for latest_post in latest_posts %}
                            {% if latest_post.id != post.id %}
                                <div class="mb-4 d-flex align-items-center">
                                    <img src="{{ latest_post.image.url }}" alt="{{ latest_post.title }}" class="img-thumbnail me-3" style="max-height: 100px; max-width: 100px;">
                                    <h1 style="font-size: 15px; text-decoration: underline;">{{ latest_post.title }}</h1>
                                </div>
                                <p class="small text-muted">{{ latest_post.created_at|date:"d/m/Y" }}</p>
                                {% if not forloop.last %}
                                    <hr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popup section -->
    <div id="popup" class="popup" style="display: none;">
        <p id="popup-message"></p>
        <button onclick="closePopup()">Close</button>
    </div>
    <!-- Footer-->
    <footer class="py-5" style="background-color: var(--site-color);">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; {{ site_blog.title }} | Create by .WebPam </p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Inclure jQuery (si ce n'est pas déjà fait) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'assets/vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/file-upload.js' %}"></script>
    <script src="{% static 'assets/js/typeahead.js' %}"></script>
    <script src="{% static 'assets/js/select2.js' %}"></script>



    <script>
        $(document).ready(function() {
          $('.like-icon').on('click', function() {
            var icon = $(this);
            var postId = icon.data('postId');
            var storageKey = 'liked_' + postId;
            var isLiked = localStorage.getItem(storageKey) === 'true';
            
            if (isLiked) {
              // Remove like
              $.ajax({
                type: 'GET',
                url: '/remove_like/' + postId + '/',
                success: function(data) {
                  icon.removeClass('mdi-heart').addClass('mdi-heart-outline');
                  localStorage.setItem(storageKey, 'false');
                  // Handle popup message or other feedback if needed
                  alert(data.message);
                }
              });
            } else {
              // Add like
              $.ajax({
                type: 'GET',
                url: '/like_post/' + postId + '/',
                success: function(data) {
                  icon.removeClass('mdi-heart-outline').addClass('mdi-heart');
                  localStorage.setItem(storageKey, 'true');
                  // Handle popup message or other feedback if needed
                  alert(data.message);
                }
              });
            }
          });
        });

        document.addEventListener("DOMContentLoaded", function() {
            var shareIcons = document.querySelectorAll('.share-icon');
            var sharePopup = document.getElementById('sharePopup');
            var postLink = document.getElementById('postLink');
            var copyLinkButton = document.getElementById('copyLinkButton');
            var postTitle = "{{ post.title }}"; // Assurez-vous de passer le titre du post dynamiquement
            var domaine = "{{ domaine }}"; // Assurez-vous de passer le domaine du site à partir du contexte Django
            var featuredPostTitle = "{{ featured_post.title }}"; // Assurez-vous de passer le titre du post en vedette à partir du contexte Django

            shareIcons.forEach(function(icon) {
                icon.addEventListener('click', function(event) {
                    var siteId = icon.dataset.siteId;
                    var postId = icon.dataset.postId;

                    // Générer le lien du post avec le domaine du site et l'ID du post
                    var postUrl = window.location.origin + "/" + domaine + "/" + encodeURIComponent(postTitle) + "/" + siteId + "/" + postId + "/";

                    // Afficher le lien du post dans le popup
                    postLink.textContent = postUrl;

                    // Afficher le popup de partage
                    sharePopup.style.display = 'block';

                    // Empêcher la propagation de l'événement de clic pour éviter que le popup ne se ferme immédiatement
                    event.stopPropagation();
                });
            });

            // Gérer les clics en dehors du popup pour le fermer
            document.addEventListener('click', function(event) {
                var targetElement = event.target;
                if (!sharePopup.contains(targetElement)) {
                    sharePopup.style.display = 'none';
                }
            });

            // Fonction pour copier le lien du post
            copyLinkButton.addEventListener('click', function(event) {
                event.stopPropagation(); // Empêcher la propagation de l'événement de clic vers le document principal
                var textArea = document.createElement("textarea");
                textArea.value = postLink.textContent;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand("Copy");
                document.body.removeChild(textArea);
                alert("Lien copié !");
            });
        });

        // Fonction pour partager sur Facebook
        function shareOnFacebook() {
            var postUrl = window.location.origin + "/post/1"; // Remplacez "/post/1" par l'URL réelle du post
            var facebookUrl = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(postUrl);
            window.open(facebookUrl, "_blank");
        }

        document.getElementById("button-search").addEventListener("click", function() {
            var searchTerm = document.getElementById("search_term").value.trim();
            if (searchTerm !== "") {
                var url = "{% url 'search_post_in_site' domaine=domaine site_id=site_id %}?search_term=" + encodeURIComponent(searchTerm);
                window.location.href = url;
            }
        });
    </script>


    
    
    

</body>
</html>
{% endblock %}