{% block content %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Dashboard</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <!-- <div class="logo-image">
                <img src="images/logo.png" alt="">
            </div> -->

            <span class="logo_name">.WebPam</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <span class="logo_name">Menu</span>
                <li>
                    <a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dahsboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                        <span class="link-name">Message</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-paint-brush" aria-hidden="true"></i>
                        <span class="link-name">Theme</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        <span class="link-name">Manage</span>
                    </a>
                </li>
                <span class="logo_name">Manage</span>
                <li>
                    <a href="#">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="link-name">setting</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-shield" aria-hidden="true"></i>
                        <span class="link-name">protection</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="link-name">user behavior</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <span class="link-name">help</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="/logout">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">


            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            <div class="icons">
                <i class="fa fa-bell-o" aria-hidden="true"> | </i>
                <i class="fa fa-commenting-o" aria-hidden="true"> | </i>
                <i class="fa fa-bell-o" aria-hidden="true"></i>
            </div>
            <div class="user">
                <p><i class="fa fa-user-circle" style='font-size:20px;color:rgb(89, 209, 78)' aria-hidden="true">  </i> user1 </p>
            </div>
            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">

                    <span class="text">Dashboard</span>

                    <a href="#" class="text1"><span >view your website</span></a>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <div class="an">
                            <p class="tit"><strong>Storage</strong> </p>
                            <i class="fa fa-ellipsis-v" style='font-size:20px;color:rgb(255, 255, 255)' aria-hidden="true"></i>
                        </div>

                        <span class="text"><strong>40</strong> Mb</span>
                        <p>of 50 total</p>
                    </div>
                    <div class="box box2">
                        <div class="an">
                            <p class="tit"><strong>Storage</strong> </p>
                            <i class="fa fa-ellipsis-v" style='font-size:20px;color:rgb(255, 255, 255)' aria-hidden="true"></i>
                        </div>

                        <span class="text"><strong>40</strong> Mb</span>
                        <p>of 50 total</p>
                    </div>
                    <div class="box box3">
                        <div class="an">
                            <p class="tit"><strong>Storage</strong> </p>
                            <i class="fa fa-ellipsis-v" style='font-size:20px;color:rgb(255, 255, 255)' aria-hidden="true"></i>
                        </div>

                        <span class="text"><strong>40</strong> Mb</span>
                        <p>of 50 total</p>
                    </div>
                    <div class="box box4">
                        <div class="an">
                            <p class="tit"><strong>Storage</strong> </p>
                            <i class="fa fa-ellipsis-v" style='font-size:20px;color:rgb(255, 255, 255)' aria-hidden="true"></i>
                        </div>

                        <span class="text"><strong>40</strong> Mb</span>
                        <p>of 50 total</p>
                    </div>
                </div>

                <div class="dia">

                    <div class="act">
                        <h1>Activity</h1>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

                        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>


                        <script>
                            const myChart = new Chart("myChart", {
                                type: "bar",
                                data: {},
                                options: {}
                            });
                            var xValues = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var yValues = [0, 100, 200, 300, 400, 500];
                            var barColors = ["red", "green", "blue", "orange", "brown"];

                            new Chart("myChart", {
                                type: "bar",
                                data: {
                                    labels: xValues,
                                    datasets: [{
                                        backgroundColor: barColors,
                                        data: yValues
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: false
                                    },
                                    title: {
                                        display: true,
                                        text: "World Wine Production 2018"
                                    }
                                }
                            });
                        </script>
                    </div>

                    <div class="env">
                        <h1>Environement settings</h1>
                        <div class="mes">
                            <div class="cont">
                                <h2>Email notification</h2>
                                <p>Activate email notifications for risky events to bde informed</p>
                                <a href="" class="link">Read more</a>
                            </div>
                            <div class="cont">
                                <h2>Email notification</h2>
                                <p>Activate email notifications for risky events to bde informed</p>
                                <a href="" class="link">Read more</a>
                            </div>
                            <div class="cont">
                                <h2>Email notification</h2>
                                <p>Activate email notifications for risky events to bde informed</p>
                                <a href="" class="link">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="last">
                    <div class="get">
                        <h1>Get one-time report</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. voluptatibus re ndae! <i class="fa fa-exclamation-triangle" style=' font-size:20px;color:yellow '></i></p>
                        <hr>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. voluptatibus re ndae! <i class="fa fa-exclamation-triangle" style='font-size:20px;color:yellow '></i></p>
                        <hr>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. voluptatibus re ndae! <i class="fa fa-exclamation-triangle" style='font-size:20px;color:yellow '></i></p>
                        <hr>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. voluptatibus re ndae! <i class="fa fa-exclamation-triangle" style='font-size:20px;color:yellow '></i></p>
                        <hr>
                        <a href="" class="link">more...</a>
                    </div>
                    <div class="mess">
                        <h1>Message</h1>
                        <p><i class="fa fa-user-circle" style='font-size:20px;color:yellow ' aria-hidden="true"></i> Lorem ipsum, dolor sit amet consectetur adipisicing elit. voluptatibus re ndae! </p>

                        <p><i class="fa fa-user-circle" style='font-size:20px;color:rgb(49, 190, 131) ' aria-hidden="true"></i> Lorem ipsum, dolor sit amet consectetur adipisicing elit. voluptatibus re ndae! </p>
                        <p><i class="fa fa-user-circle" style='font-size:20px;color:rgb(255, 17, 0) ' aria-hidden="true"></i> Lorem ipsum, dolor sit amet consectetur adipisicing elit. voluptatibus re ndae! </p>

                        <p><i class="fa fa-user-circle" style='font-size:20px;color:rgb(49, 70, 190) ' aria-hidden="true"></i> Lorem ipsum, dolor sit amet consectetur adipisicing elit. voluptatibus re ndae! </p>
                        <p><i class="fa fa-user-circle" style='font-size:20px;color:rgb(225, 0, 255) ' aria-hidden="true"></i> Lorem ipsum, dolor sit amet consectetur adipisicing elit. voluptatibus re ndae! </p>

                    </div>

                </div>
            </div>
        </div>



        </div>
        </div>


    </section>

    <script src="{% static 'js/dashboard.js' %}"></script>

    </script>
</body>

</html>
{% endblock %}