{% block content %} 
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- ICONSCOUT CDN -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>HOME | .WebPam</title>
</head>

<body>

    <!------------------------------- DEBUT HERO SECTION -------------------------------------------->
    <section class="hero_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-size: 25px; font-weight: 700;"><i class="uil uil-shopping-cart-alt"
            style="margin-left: 20px; margin-right: 5px;"></i><span style="color: #6c5ce7;">.Web</span>Pam
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="font-size: 20px;font-weight: 700;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              {% if not user.is_authenticated %}
                <li class="nav-but">
                    <a class="btn btn-outline-dark" href="/signin" style="font-weight: 700;">Sign In</a>
                </li>
                <li class="nav-but">
                    <a class="btn btn-outline-dark" href="/signup" style="font-weight: 700;">Sign Up</a>
                </li>
              {% endif %}
          </ul>        
          </div>
        </div>
      </nav>
      <div class="menu_context">
        <ul>
          <li><a href="/logout" style="text-decoration: none; color: #000;"><i class="uil uil-signout"></i>Logout</a></li>
        </ul>
      </div>
      <div class="container pt-5">
        <div class="banner-image">
          <div class="container py-5">
            <div class="row py-5">
              <div class="col-lg-6 col-md-12 mr-auto pt-5">
                <h1 class="display-4 pb-4" style="color: #000; font-weight: 700;">It's A Big World Out There, Go Explore</h1>
                <p class="lead text-black" style="color: #000; font-weight: 500;">Accès à une vaste bibliothèque de cours et de 
                  programmes sur une variété de sujets.</p>
                <a href="/signin" class="btn btn-primary btn-lg" style="border-radius: 30px;width: 130px;"> Joins Us </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!------------------------------- FIN HERO SECTION -------------------------------------------->
  
       <!------------------------------- DEBUT SEARCH BAR SECTION -------------------------------------------->
      <section class="search-bar" style="z-index: 10000; position: relative;">
        <div class="container-fluid" style="height: 30px; background-color: #d9d9d9;"></div>
        <div class="container-fluid" style="background-color: #f5f5f5f5;">
            <div class="container">
                <div class="banner-image">
                    <div class="container py-5">
                        <div class="row justify-content-center align-items-center"> <!-- Utilisation de justify-content-center pour centrer horizontalement -->
                            <h3 class="text-primary " style="margin-top: 2px; max-width: 500px; font-weight: 700;">Find the perfect services for your business</h3>
                        </div>
                        <div class="row justify-content-center"> <!-- Utilisation de justify-content-center pour centrer horizontalement -->
                            <div class="input-group" style="max-width: 500px; height: 50px;">
                                <input type="text" class="form-control" style="border-top-left-radius: 25px; border-bottom-left-radius: 25px;">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button" style="height: 50px; border-top-right-radius: 25px; border-bottom-right-radius: 25px;">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center" > <!-- Utilisation de justify-content-center pour centrer horizontalement -->
                            <p class="text-primary" style="font-weight: 600; max-width: 500px; margin-top: 2px;">top: "johns.sitpam", "coach", "iphone pro"</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!------------------------------- FIN SEARCH BAR SECTION -------------------------------------------->
  
    <!------------------------------- DEBUT SERVICES SECTION -------------------------------------------->
    <section class="services" id="services" style="margin-bottom: 35px">
        <div class="max-width">
            <h2 class="title" id="h">Our services</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">Web Design</div>
                        <p>Website,Web Application</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="text">Design</div>
                        <p>Logo,Flyers,Cart and more.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">Apps</div>
                        <p>Mobile,Web and Pc.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------------------------------- FIN SERVICES SECTION -------------------------------------------->
  
    <!------------------------------- DEBUT PRICING SECTION -------------------------------------------->
    <section class="pricing-table">
      <div class="details">
        <h2>Choisissez le forfait qui vous convient</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, architecto, deserunt vero doloribus inventore, culpa placeat excepturi voluptate nemo cupiditate laboriosam aliquam adipisci nulla voluptatem facilis dolor aperiam sed minima.
        </p>
      </div>
    
      <div class="grid">
        {% for plan in plans %}
          <div class="box {{ plan.name }}">
            <div class="title" style="font-weight: 900;">{{ plan.name }}</div>
            <div class="price">
              <b>${{ plan.price }}</b>
              <span>per month</span>
            </div>
            <div class="features">
              <div>1 CPU</div>
              <div>500 GB Storage</div>
              <div>2 Users Allowed</div>
              <div>Send up to 2 GB</div>
            </div>
            <div class="button">
              <button><a href="{% url 'checkout' plan.id %}">Buy Now</a></button>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
    
    
    <!------------------------------- FIN PRICING SECTION -------------------------------------------->
    <section class="Contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
  
        <div class="container_contact">
            <div class="contactInfo">
  
                <!-- <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Adresse</h3>
                        <p>15, rue virginie sampeur, delmas 19, <br>port au prince, <br>Ht5016 </p>
                    </div>
  
                </div> -->
  
                <div class="box">
                    <div class="icon"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Telephone</h3>
                        <p> (+509) 3661-6294 </p>
                    </div>
  
                </div>
  
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p> heraldydebrosse@gmail.com</p>
                    </div>
  
                </div>
  
            </div>
  
            <div class="contactform">
                <form>
                   <!-- <h2>Send message </h2>-->
  
                    <div class="inputbox">
                        <input type="text" name="name" placeholder=" Enter your name" required="">
                        <span>Your name*</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="email" placeholder=" Enter your email adress" required="">
                        <span>Your email adress*</span>
                    </div>
                    <div class="inputbox">
                        <textarea required="required" placeholder=" Type your message here..."></textarea>
                        <span>Message*</span>
                    </div>
  
                <div class="inputbox">
                    <input type="submit" name="" value="Submit">
                </div>
  
                </form>
            </div>
  
        </div>
  
        
        <div class="rond"></div>
  
        <div class="rond2"></div>
    </section>
  
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p>© 2024 WebPam | All Rights Reserved</p>
    </footer>
  
  
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous">
    </script>
    <!-- <script src="{%static 'js/script.js'  %}"></script> -->
  
  </body>
  
  </html>
{% endblock %}