{% block content %}
{% load static %}

{% for message in messages %}
  <strong>{{ message }}</strong>
{% endfor %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Registration | .Webpam</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="title">Registration</div>
      <div class="content">
        <form method="post" action="/signup">
          {% csrf_token %}
          <div class="user-details">
            <div class="input-box">
              <span class="details" for="firstname">First Name</span>
              <input type="text" name="firstname" placeholder="Enter your first name" required>
            </div>
            <div class="input-box">
              <span class="details" for="lastname">Last Name</span>
              <input type="text" name="lastname" placeholder="Enter your last name" required>
            </div>
            <div class="input-box">
              <span class="details" for="username">Username</span>
              <input type="text" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-box">
              <span class="details" for="email">Email</span>
              <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
              <span class="details" for="phone">Phone Number</span>
              <input type="tel" name="phone" placeholder="Enter your number" required>
            </div>
            <div class="input-box">
              <span class="details" for="password">Password</span>
              <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="input-box">
              <span class="details" for="confirmpassword">Confirm Password</span>
              <input type="password" name="confirmpassword" placeholder="Confirm your password" required>
            </div>
            <div class="input-box">
              <span class="details">Date of Birth</span>
              <div class="grouping">
                  <input type="text" patter="[0-9]" name="day" value="" min="0" max="31" placeholder="DD" required>
                  <input type="text" patter="[0-9]" name="month" value="" min="0" max="12" placeholder="MM" required>
                  <input type="text" patter="[0-9]" name="year" value="" min="0" max="2050" placeholder="YYYY" required>
              </div>
            </div>
          </div>

          <div class="button">
            <input type="submit" value="Register">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>

{% endblock %}
