<!DOCTYPE html>
<html>
<head>
    <title>Tableau de bord</title>
</head>
<body>
    <h1>Tableau de bord administrateur</h1>

    {% comment %} <p>Site : {{ current_site.title }}</p> {% endcomment %}
    
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li>{{ post.title }}</li>
        {% endfor %}
    </ul>
    
    <h2>Statistiques</h2>
    <p>Nombre total de likes : {{ total_likes }}</p>
    <p>Nombre total de commentaires : {{ total_comments }}</p>
    <p>Nombre total de visiteurs : {{ total_visitors }}</p>
    
    {% comment %} <form  method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
       </form>
    {% endcomment %}
   
</body>
</html>
